/** 
* Mukta Font - Google Fonts
*/

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import "../node_modules/@syncfusion/ej2-base/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		/**
     * Primary color is the main color of the application
     * primary color is converted from hex to hsl
     * * hex value #5777bd is converted to hsl(221, 44%, 54%)
     */
		--primary: 221 44% 54%;
		--primary-foreground: 0 0% 98%;

		/**
     * Secondary color is the secondary color of the application
     * secondary color is converted from hex to hsl
     * * hex value #f3f4f6 is converted to hsl(0, 0%, 96.1%)
     */
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		/**
     * Accent color is the color used for highlighting
     * accent color is converted from hex to hsl
     * * hex value #ffeb3b is converted to hsl(54, 92%, 95%)
     */
		--accent: 200, 92%, 95%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 221 44% 54%;

		--radius: 0.5rem;

		--chart-1: 221.2 83.2% 53.3%;
		--chart-2: 212 95% 68%;
		--chart-3: 216 92% 60%;
		--chart-4: 210 98% 78%;
		--chart-5: 212 97% 87%;

		/**
		 * Custom variables
		 *  
		 * */
		--homepage-container-padding-x: clamp(1rem, 3vw, 3rem);

		--dark-text: #011632;
		--secondary-text-color: #3c4959;
		--light-text-color: #828282;
		--dark-bg: #011632;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--chart-1: 221.2 83.2% 53.3%;
		--chart-2: 212 95% 68%;
		--chart-3: 216 92% 60%;
		--chart-4: 210 98% 78%;
		--chart-5: 212 97% 87%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border font-Mukta;
	}
	body {
		@apply text-foreground;
	}
}

html,
body {
	overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px; /* width of the entire scrollbar */
}
.custom-scrollbar::-webkit-scrollbar-track,
.custom-scrollbar-vertical::-webkit-scrollbar-track {
	background: transparent; /* color of the tracking area */
}
.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar-vertical::-webkit-scrollbar-thumb {
	background-color: #5777bd; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
}
.custom-scrollbar-vertical::-webkit-scrollbar {
	height: 8px; /* width of the entire scrollbar */
}
