.light-blue {
	background: #0088b4 !important;
}

.dark-brown {
	background: #692600 !important;
}

.silver {
	background: #c0c0c0 !important;
}

.red {
	background: #ff0000 !important;
}

.black {
	background: #000000 !important;
}

.yellow {
	background: #ffff00 !important;
}

.gold {
	background: #ffd700 !important;
}

.orange {
	background: #ffa500 !important;
}

.green {
	background: #008000 !important;
}

.dark-blue {
	background: #00008b !important;
}

.border-light-blue {
	border-color: #0088b4 !important;
}

.border-dark-brown {
	border-color: #692600 !important;
}

.border-silver {
	border-color: #c0c0c0 !important;
}

.border-red {
	border-color: #ff0000 !important;
}

.border-black {
	border-color: #000000 !important;
}

.border-yellow {
	border-color: #ffff00 !important;
}

.border-gold {
	border-color: #ffd700 !important;
}

.border-orange {
	border-color: #ffa500 !important;
}

.border-green {
	border-color: #008000 !important;
}

.border-dark-blue {
	border-color: #00008b !important;
}
