#specialist-card-detail-container {
	background: linear-gradient(96.2deg, rgba(37, 180, 248, 0.5) 0%, rgba(37, 180, 248, 0) 100%);
	-webkit-backdrop-filter: blur(100px);
	-moz-backdrop-filter: blur(100px);
	backdrop-filter: blur(100px);
}

#article-card-img-container {
	max-width: 19rem;
}
@media only screen and (min-device-width: 900px) and (max-device-width: 1600px) {
	#article-card-img-container {
		max-width: 18rem;
	}
}
@media only screen and (max-width: 640px) {
	#article-card-img-container {
		max-width: 100%;
	}
}
